<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>マイページ</h4>
    </div>
  </div>

  <div class="row">
    <div class="col"><strong>登録情報</strong></div>
    <div class="col"><%= link_to '編集する', edit_customer_path(@customer.id), class:"btn btn-success" %></div>
  </div>

  <div class="row">
    <% @customers.each do |customer| %>
    <table class="table">
      <tr>
        <th>氏名</th>
        <td><%= customer.last_name %><%= customer.first_name %></td>
      </tr>

      <tr>
        <th>カナ</th>
        <td><%= customer.last_name_kana %><%= customer.first_name_kana %></td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= customer.postal_code %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td><%= customer.address %></td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td><%= customer.telephone_number %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= customer.email %></td>
      </tr>
    </table>
    <% end %>
  </div>

  <div class="row">
    <strong>配送先</strong>
  </div>

  <div class="row">
    <strong>注文履歴</strong>
  </div>
</div>