<div class ="container">
  <div class="row">
    <div class="bg-light">
      <h3>商品一覧</h3>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
          <% end %></td>
          <td><%= item.price.floor.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td><% if item.is_active = true then %>
          販売中
          <% else %>
          販売停止中
          <% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @items %>
  </div>
</div>