<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>商品新規登録</h4>
    </div>
  </div>

  <%= form_with model: @item, url:admin_items_path, local: true do |f| %>
  <div class="form-group row">
    <label for="inputImage" class="col-sm-2 col-form-label">商品画像</label>
    <div class="field">
      <%= f.file_field :image_id %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品名</label>
    <%=f.text_field :name,:placeholder => "商品名", class:"col-sm-4" %>
  </div>

  <div class="form-group row">
    <label for="textarea" class="col-sm-2 col-form-label">商品説明</label>
    <%= f.text_area :introduction, :placeholder => "ここに説明文を記述します", class:"col-sm-4" %>
  </div>

  <div class="form-group row">
    <label for="inputGenre" class="col-sm-2 col-form-label">ジャンル</label>
    <%= f.select :genre_id, [["ケーキ", "ケーキ"], ["プリン", "プリン"], ["焼き菓子", "焼き菓子"], ["キャンディ", "キャンディ"]], include_blank: "--選択して下さい--" %>
  </div>

  <div class="form-group row">
    <label for="inputPrice" class="col-sm-2 col-form-label">税抜価格</label>
    <%= f.text_field :price, :placeholder => "1000", :size =>"35" %>
    <label class="col-sm-1">円</label>
  </div>

  <div class="form-group row">
    <label for="inputIs_active" class="col-sm-2 col-form-label">販売ステータス</label>
    <label><%= f.radio_button :is_active, "TRUE" %>販売中</label>
 <label><%= f.radio_button :is_active, "FALSE" %>販売停止中</label>
  </div>

  <div class="form-group row">
    <label class="col-sm-4 col-form label"></label>
  <%= f.submit '新規登録', class:"btn btn-success" %>
  <% end %>
  </div>
</div>