<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>商品詳細</h4>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col">
    <%= attachment_image_tag @item, :image, size: '500x300' %>
    </div>

    <div class="col">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th scope="row">商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th scope="row">ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th scope="row">税込価格<br>(税抜価格)</th>
          <td><%= (@item.price * 1.1).floor.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</td>
        </tr>
        <tr>
          <th scope="row">販売ステータス</th>
          <td><% if @item.is_active = true then %>
          販売中, 
          <% else %>
          販売停止中
          <% end %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4"></div>
    <div class="col-4"><%= link_to '編集する', edit_admin_item_path(@item.id), class:"btn btn-success btn-lg" %></div>
  </div>
</div>