<div class="container">
  <div class="row">
    <div class="col-4>管理者ログイン</div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label 'メールアドレス' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'パスワード'  %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

   </div>
  </div>
</div>