<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>注文情報確認</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item, :image, size: "100x100" %><%= cart_item.items.name %></td>
            <td><%= (cart_item.items.price * 1.1).floor.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.order_details.price * cart_item.amount %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>

        <tr>
          <th>商品合計</th>
          <td></td>
        </tr>

        <tr>
          <th>請求金額</th>
          <td><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th><strong>支払方法</strong></th>
        <th><strong>お届け先</strong></th>
      </tr>

      <tbody>
        <tr>
          <td><%= @order.payment_method %></td>
          <td><%= @order.address %><%= @order.name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mx-auto">
  </div>
</div>