<div class="container">
  <div class="row">
    <div class="bg-light">
      <h4>注文情報入力</h4>
    </div>
  </div>

  <div class="row">
    <%= form_with model: @order,url: orders_confirm_path, local: true do |f| %>
    <strong>支払方法</strong>
    <div class="radio-inline">
      <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
      <%= f.label :クレジットカード, class: "payment_method_label" %>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :payment_method, :銀行振込 %>
      <%= f.label :銀行振込, class: "payment_method_label" %>
    </div>
     <strong>お届け先</strong>
    <div class="radio-inline">
      <%= f.radio_button :address_kind, 0 %>
      <%= f.label :ご自身の住所, value: :ご自身の住所 %>
      <p>〒<%= current_customer.postal_code %><%= current_customer.address %></p>
    </div>


    <div class="radio-inline">
    　<%= f.radio_button :address_kind, 1 %>
      <%= f.label :address, "登録済住所を選択", value: :"登録済住所を選択" %>
      <p><%= f.collection_select(:address_id, current_customer.addresses, :id, :full_address) %></p>
    </div>

    <div class="raidio-inline">
      <%= f.radio_button :address_kind, 2 %>
      <%= f.label :address, "新しいお届け先", value: :"新しいお届け先" %>
    </div>

    <div class="form-group row">
    <label for="inputPostal_code">郵便番号(ハイフンなし)</label>
    <%= f.text_field :postal_code, :placeholder => "0000000", size: 40, class:"address-form1" %>
    </div>
    <div class="form-group row">
    <label for="inputAddress">住所</label>
    <%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", size: 60, class:"address-form2" %>
  </div>
  <div class="form-group row">
    <label for="inputName">宛名</label>
    <%= f.text_field :name, :placeholder => "令和道子", size: 40, class:"address-form3" %>
  </div>

  <div class="form-group row">
    <div class="mx-auto">
      <%= f.submit '確認画面へ進む', class:"btn btn-primary" %>
    </div>
    <% end %>
    </div>
</div>