<div class="container">
 <div class="row">
    <div class="col">
    <%= attachment_image_tag @item, :image, size: '500x300' %>
    </div>

    <div class="col">
    <h3><%= @item.name %></h3>
    <br>
    <%= @item.introduction %>
    <br>
    <br>
    <p>¥<%= (@item.price * 1.1).floor.to_s(:delimited) %>(税込)</p>
    <%= form_with model: @cart_item, url:cart_items_path, local: true do |f| %>

     <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
    <%= f.submit 'カートに入れる', class:"btn btn-success" %>
    <% end %>

    </div>
  </div>